.sourceLine {
  font-size: 12px;
  text-align: center;
  display: block;
  color: #525794;
}

.sourceCodeLink,
.netlifyLink,
.iconReferenceLink {
  color: #525794;
}

.sourceCodeLink:hover,
.netlifyLink:hover,
.iconReferenceLink:hover {
  color: white;
}
