.weekForecast {
  font-size: 17px;
  margin: 1px 0px;
  border-radius: 15px;
  text-align: Center;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  color: #838ee8;
}

.weekHigh {
  padding: 5px;
  color: #838ee8;
}

.weekLow {
  padding: 5px;
  color: #838ee8;
}
