.searchBar {
  text-align: center;
  padding: 0px 15px;
  margin: 20px;
}

.Form {
  border-radius: 15px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  backdrop-filter: blur(10px);
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  padding: 10px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  color: #44448d;
}

.Button {
  border-radius: 15px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  backdrop-filter: blur(10px);
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  padding: 10px;
  margin: 0px 0px 0px 5px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

img {
  height: 25px;
  filter: invert(25%) sepia(48%) saturate(1115%) hue-rotate(207deg)
    brightness(93%) contrast(88%);
}
