.allWeather {
  padding: 20px;
  margin: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 35px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.temperatureContainer {
  padding: 15px 133px;
  text-align: center;
}

.infoContainer {
  padding: 10px 0px;
}
.cityName {
  font-size: 35px;
  margin: 0;
  font-weight: bold;
}

span.time {
  font-size: 18px;
}

.weatherType {
  font-size: 18px;
  margin: 0;
}

.humidity {
  font-size: 17px;
  margin: 0;
}

.windSpeed {
  font-size: 17px;
  margin: 0;
}

.todayTemp {
  display: inline;
  font-size: 50px;
}

.unit {
  position: relative;
  top: -22px;
  font-size: 18px;
}

.Temperature {
  padding: 30px;
}

.mainIcon {
  height: 35px;
}
a,
a:hover {
  color: #525794;
}

@media (max-width: 770px) {
  .Temperature {
    padding: 0;
    margin: 10px;
  }
  .weatherContainer {
    padding: 10px;
    margin: 0px;
  }

  h2,
  .windSpeed,
  .humidity {
    padding: 0;
    margin: 0;
  }
  .infoContainer,
  .temperatureContainer {
    padding: 0;
    margin: 0px 0px 10px 0px;
  }
}
